[submodule "front-end"]
	path = front-end
	url = git@github.com:vanloc19/InstagramClone_Front-End.git
	branch = main
[submodule "bach-end"]
	path = bach-end
	url = git@github.com:vanloc19/InstagramClone_BackEnd.git
	branch = server
